<a href="https://colab.research.google.com/github/rahulsait/ExcelR-codes/blob/main/CONDITIONAL_STATE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Conditional Statements and Loops**

In [ ]:
name = input("User's first name : ")
print(len(name))

User's first name : Rahul
5

In [ ]:
name = input("User's first name : ")
print(len(name))

User's first name : Rahul
5

In [ ]:
age = 20
if age >= 20 :
  print(True)
print("Falsuuuuuuu")

True
Falsuuuuuuu

In [ ]:
if(True) :
  print("sure")
  print("thing")

sure
thing

In [ ]:
if(False) :
  print("nope")
  print("never")

In [ ]:
light = "green"

if light == "red" :
  print("Halt")

if light == "yellow" :
  print("Wait")

if light == "green" :
  print("Go")

Go

In [ ]:
num = 5
if num < 10 :
  print(num)
else :
  print("more than 10")

5

In [ ]:
num = 5
if num > 10 :
  print(num)
else :
  print("more than 10")

more than 10

In [ ]:
marks = int(input("Enter the marks : "))
if marks >= 90 :
  print("A grade")
elif marks >= 80 and marks < 90 :
  print("B grade")
elif marks >= 70 and marks < 80 :
  print("C grade")
elif marks >= 60 and marks < 70 :
  print("D grade")
else :
  print("F")

Enter the marks : 65
D grade

In [ ]:
marks = int(input("Enter the marks : "))
if marks >= 90 :
  print("A grade")
elif marks >= 80 and marks < 90 :
  print("B grade")
elif marks >= 70 and marks < 80 :
  print("C grade")
elif marks >= 60 and marks < 70 :
  print("D grade")
else :
  print("F")

Enter the marks : 99
A grade

In [ ]:
num = 100
if num > 50 :
  print(f"{num} is greater than 50")
if num < 200 :
  print(f"{num} is smaller than 200")
else :
  print("No value")

100 is greater than 50
100 is smaller than 200

In [ ]:
num = 300
if num > 50 :
  print(f"{num} is greater than 50")
if num < 200 :
  print(f"{num} is smaller than 200")

300 is greater than 50

In [ ]:
num = 40
if num > 50 :
  print(f"{num} is greater than 50")
if num < 200 :
  print(f"{num} is smaller than 200")
else :
  print("No value")

40 is smaller than 200

In [ ]:
num = 100
if num > 50 :
  print(f"{num} is greater than 50")
  if num < 200 :
    print(f"{num} is smaller than 200")

100 is greater than 50
100 is smaller than 200

In [ ]:
num = 100
if num > 50 :
  if num < 200 :
    print(f"{num} is smaller than 200")

100 is smaller than 200

In [ ]:
num = 100
if num > 50 and num < 200 :
  print(f"{num} is greater than 50 and smaller than 200.")

100 is greater than 50 and smaller than 200.

In [ ]:
age = 20
if age >= 18 :
  print("eligible to drive")
  if age >= 90 :
    print("not eligible to drive")
  else :
    print("eligible to drive")
else :
  print("not eligible to drive")

eligible to drive
eligible to drive

In [ ]:
age = 10
if age >= 18 :
  if age >= 90 :
    print("not eligible to drive")
  else :
    print("eligible to drive")
else :
  print("not eligible to drive")

not eligible to drive

In [ ]:
age = 99
if age >= 18 :
  if age >= 90 :
    print("not eligible to drive")
  else :
    print("eligible to drive")
else :
  print("not eligible to drive")

not eligible to drive

In [ ]:
num = int(input("Enter a number : "))
if num % 2 == 0 :
  print(f"{num} is even")
else :
  print(f"{num} is odd")

Enter a number : 5
5 is odd

In [ ]:
num = int(input("Enter a number : "))
if num % 2 == 0 :
  print(f"{num} is even")
else :
  print(f"{num} is odd")

Enter a number : 4
4 is even

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the greatest num")
elif num2 > num3 :
  print(f"{num2} is the greatest num")
else :
  print(f"{num3} is the greatest num")

1st num : 20
2nd num : 15
3rd num : 5
20 is the greatest num

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the greatest num")
elif num2 > num3 :
  print(f"{num2} is the greatest num")
else :
  print(f"{num3} is the greatest num")

1st num : 10
2nd num : 20
3rd num : 15
20 is the greatest num

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the greatest num")
elif num2 > num3 :
  print(f"{num2} is the greatest num")
else :
  print(f"{num3} is the greatest num")

1st num : 20
2nd num : 10
3rd num : 30
30 is the greatest num

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the 1st greatest num")
  if num2 > num3 :
    print(f"{num2} is the 2nd greatest num")
else :
  print(f"{num3} is the greatest num")

1st num : 10
2nd num : 20
3rd num : 30
30 is the greatest num

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the 1st greatest num")
  if num2 > num3 :
    print(f"{num2} is the 2nd greatest num")
else :
  print(f"{num3} is the 3rd greatest num")

1st num : 30
2nd num : 20
3rd num : 10
30 is the 1st greatest num
20 is the 2nd greatest num

In [ ]:
num1 = int(input("1st num : "))
num2 = int(input("2nd num : "))
num3 = int(input("3rd num : "))

if num1 > num2 and num1 > num3 :
  print(f"{num1} is the 1st greatest num")
  if num2 > num3 :
    print(f"{num2} is the 2nd greatest num")
else :
  print("jwehbf")

1st num : 10
2nd num : 20
3rd num : 30
jwehbf

In [ ]:
num = int(input("Enter a number : "))

if num % 7 == 0 :
  print(f"{num} is a multiple of 7.")
else :
  print(f"{num} isn't a multiple of 7.")

Enter a number : 12
12 isn't a multiple of 7.

In [ ]:
num = int(input("Enter a number : "))

if num % 7 == 0 :
  print(f"{num} is a multiple of 7.")
else :
  print(f"{num} isn't a multiple of 7.")

Enter a number : 14
14 is a multiple of 7.

#**While Loop**

In [3]:
'''
while True :
     print("Hello Rahul")
prints "Hello Rahul" infinite times

'''

'\nwhile True :\n     print("Hello Rahul")\nprints "Hello Rahul" infinite times\n\n'

In [4]:
while False :
  print("Hello Rahul") # returns nothing as condition is False

In [ ]:
'''
count = 1

while count <= 5 :
  print("Hello Rahul")
prints "Hello Rahul" infinitely as the condition is True ie. 1 <= 5

'''

In [6]:
count = 1

while count <= 5 :
  print("Hello Rahul")
  count = count + 1 # count is inside the while loop, so it gets executed until the condition is false.

Hello Rahul
Hello Rahul
Hello Rahul
Hello Rahul
Hello Rahul

In [8]:
'''
count = 1

while count <= 5 :
  print("Hello Rahul")
count = count + 1 # as count = count + 1 is outside the while loop, it won't
be executed in a loop

'''

'\ncount = 1\n\nwhile count <= 5 :\n  print("Hello Rahul")\ncount = count + 1 # as count = count + 1 is outside the while loop, it won\'t\nbe executed in a loop\n\n'

In [11]:
count = 5

while count <= 5 :
  print("Hello Rahul")
  count = count + 1 # loop stops at count = 6 as condition is False

Hello Rahul

In [13]:
count = 1

while count <= 5 :
  print("Hello Rahul")
  count = count + 1
print(count)

Hello Rahul
Hello Rahul
Hello Rahul
Hello Rahul
Hello Rahul
6

In [14]:
count = 1

while count <= 5 :
  print("Hello Rahul")
  count = count + 1
  print(count)

Hello Rahul
2
Hello Rahul
3
Hello Rahul
4
Hello Rahul
5
Hello Rahul
6

In [17]:
i = 5

while i >= 1 :
  print("Hello")
  i = i - 1

Hello
Hello
Hello
Hello
Hello

In [18]:
i = 5

while i >= 1 :
  print("Hello")
  i = i - 1
  print(i)

Hello
4
Hello
3
Hello
2
Hello
1
Hello
0

In [19]:
i = 5

while i >= 1 : # stopping condition used to end the loop
  print("Hello") #
  i = i - 1
print(i)

Hello
Hello
Hello
Hello
Hello
0

In [ ]:
i = 5

while i >= 1 : # stopping condition used to end the loop
  print("Hello") #
  i = i - 1
print(i)

Hello
Hello
Hello
Hello
Hello
0

In [ ]:
i = 5

while i >= 1 : # stopping condition used to end the loop
  print("Hello") #
  i = i - 1ffff
print(i)

Hello
Hello
Hello
Hello
Hello
0

In [2]:
num = 1
while num <= 100 :
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [38]:
i = 1
while i <= 100 :
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
i = 100
while i >= 1 :
  print(i)
  i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

2*1 = 2

2*2 = 4

2*3 = 6

In [18]:
num = 5
i = 1
while i <= 10 :
  j = num*i
  print("%d * %d is %d" %(num, i, j))
  i += 1

5 * 1 is 5
5 * 2 is 10
5 * 3 is 15
5 * 4 is 20
5 * 5 is 25
5 * 6 is 30
5 * 7 is 35
5 * 8 is 40
5 * 9 is 45
5 * 10 is 50

In [39]:
x = 2
y = 1
while y <= 10 :
  print(x * y)
  y += 1

2
4
6
8
10
12
14
16
18
20

1

4

9

16

In [29]:
n = 5
for i in range(6) :
  print(i)

0
1
2
3
4
5

In [35]:
sum = 0

for i in range(1,6) :
  sum = sum + i
  print(sum)
print("Sum of first 5 numbers :", sum)

1
3
6
10
15
Sum of first 5 numbers : 15

In [36]:
sum = 0
i = 1

while i <= 5 :

  sum = sum + i
  i += 1
  print(sum)

print("Sum of first 5 numbers :", sum)

1
3
6
10
15
Sum of first 5 numbers : 15

In [1]:
num = 1

while num <= 10 :
  print(num**2)

  num += 1

1
4
9
16
25
36
49
64
81
100

Traversing through Lists :

In [ ]:
list = [1,4,9,16,25,36,49,64,81,100]
idx = 0

# while idx <= len(list)-1 or
while idx < len(list) :

  print(list[idx])
  idx += idx # returns infinite loop of idx = 0 ie. 1

In [43]:
tupp = (1,2,3,4,5)
ind = 0
num = 4
while ind < len(tupp) :
  if tupp[ind] == num :
    print("Found")
  ind += 1

Found

In [4]:
list = [1,4,9,16,25,36,49,64,81,100]
idx = 0
print(len(list),"\n")
# while idx <= len(list)-1 or
while idx < len(list) :

  print(list[idx])
  idx += 1 # returns each element of the list

10

1
4
9
16
25
36
49
64
81
100

In [ ]:
list = [1,4,9,16,25,36,49,64,81,100]
idx = 0
print(len(list),"\n")
# while idx <= len(list)-1 or
while idx < len(list) :

  print(list[idx])
idx += 1 ''' idx += 1 is not in while loop
and returns an infinite loop with idx = 0 always and output for list[0] ie. 1 '''

In [5]:
list = [1,2,3,4,5]
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if x == list[idx] : # prints the statement only when if condition is true
    print("found at index", idx)
  idx += 1

found at index 2

In [33]:
list = [1,2,3,4,5]
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found")
  idx += 1

found

In [8]:
list = [1,2,3,4,5]
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found")
  else :
    print("not found")
  idx += 1

not found
not found
found
not found
not found

In [9]:
list = [1,2,3,4,5,3] # returns twice as there are 3(x) at 2nd and 5th index in this list
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found")
  else :
    print("not found")
  idx += 1

not found
not found
found
not found
not found
found

In [ ]:
list = [1,2,3,4,5,3] # returns twice as there are 3(x) at 2nd and 5th index in this list
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found") # gets printed "found" for idx = 2
  else :
    print("not found") # gets printed "not found" for idx = 0, 1
    idx += 1 # as idx is within else condition, if condition is executed infinitely with idx = 2

not found
not found
found
not found
not found
found

##**Break :**

In [10]:
i = 1
while i <= 5 :
  print(i)
  i += 1

1
2
3
4
5

In [11]:
i = 1
while i <= 5 :
  print(i)
  if i == 4 : # if 'i == 4' condition is true, move to the next line
    break # as this next line is 'break', loop gets terminated and stops executing further
  i += 1

1
2
3
4

In [12]:
i = 0
while i <= 5 :
  print(i)
  if i == 2 : # looping breaks at i = 2
    break
  i += 1

0
1
2

In [13]:
list = [1,2,3,4,5,3] # returns twice as there are 3(x) at 2nd and 5th index in this list
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found")
  else :
    print("not found")
  idx += 1

not found
not found
found
not found
not found
found

In [21]:
list = [1,2,3,4,5,3] # returns twice as there are 3(x) at 2nd and 5th index in this list
idx = 0
x = 3
# print(len(list)) # 5
while idx < len(list) :
  if list[idx] == x :
    print("found\n")
    break # break the loop idx = 2 ie. x = 3
  else :
    print("not found")
  idx += 1

print("Ending the while loop")

not found
not found
found

Ending the while loop

##**Continue :**

In [ ]:
i = 1
while i <= 5 :
  print(i)
  i += 1

1
2
3
4
5

In [30]:
i = 1
while i <= 5 :
  if i == 3 :
    i += 1
    continue # skips the current iteration
  print(i)
  i += 1

1
2
4
5

In [34]:
# printing all even numbers from 1 - 20 :

i = 1
while i <= 20 :
  if i % 2 == 0 :
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [35]:
# printing all even numbers from 0 - 20 :

i = 0
while i <= 20 :
  if i % 2 != 0 : # we skip print(i) and i += 1 operation when if statement is true
    i += 1
    continue
  print(i)
  i += 1

0
2
4
6
8
10
12
14
16
18
20

In [36]:
# printing all odd numbers from 0 - 20 :

i = 0
while i <= 20 :
  if i % 2 == 0 : # we skip print(i) and i += 1 operation when if statement is true
    i += 1
    continue
  print(i)
  i += 1

1
3
5
7
9
11
13
15
17
19

#**For Loop**

In [37]:
nums = [1,2,3,4,5,6,7,8]

for i in nums :
  print(i) # returns in tha same sequence

1
2
3
4
5
6
7
8

In [2]:
names = ("Rahul", "Ruthvik", "Mummy", "Daddy")

for name in names :
  print(name) # returns in the same sequence

Rahul
Ruthvik
Mummy
Daddy

In [4]:
names = ("Rahul", "Ruthvik", "Mummy", "Daddy")
for name in names :
  if name == "Mummy" :
    print("Mummy found")
    break
  else :
    print(name)

Rahul
Ruthvik
Mummy found

In [7]:
num = [10,20,30,40]
for i in num :
  if i % 40 == 0 :
    print(i)
  else :
    print("noooooooope")

noooooooope
noooooooope
noooooooope
40

In [8]:
num = [1,4,9,16,25,36,49,64,81,100]

for i in num :
  print(i)

1
4
9
16
25
36
49
64
81
100

In [10]:
num = (1,4,9,16,25,36,49,64,81,100)
x = 36

for i in num :
  if i == x :
    print("x found")
  else :
    print("x not found")

x not found
x not found
x not found
x not found
x not found
x found
x not found
x not found
x not found
x not found

In [13]:
num = (1,4,9,16,25,36,49,64,81,100)
x = 36
y = 81
index = 0
for i in num :
  if i == x :
    print("x found at", index)
  if i == y :
    print("y found at", index)
  index += 1

x found at 5
y found at 8

In [14]:
num = (1,4,9,16,25,36,49,64,81,100)
x = 36
y = 81
index = 0
for i in num :
  if i == x :
    print("x found at", index)
    break
  if i == y :
    print("y found at", index)
  index += 1

x found at 5

In [15]:
# using range() function :

for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(2,20,3) :
  print(num)

2
5
8
11
14
17

In [17]:
for num in range(2,101,2) :
  print("Even numbers between 2 to 100 :", num)

Even numbers between 2 to 100 : 2
Even numbers between 2 to 100 : 4
Even numbers between 2 to 100 : 6
Even numbers between 2 to 100 : 8
Even numbers between 2 to 100 : 10
Even numbers between 2 to 100 : 12
Even numbers between 2 to 100 : 14
Even numbers between 2 to 100 : 16
Even numbers between 2 to 100 : 18
Even numbers between 2 to 100 : 20
Even numbers between 2 to 100 : 22
Even numbers between 2 to 100 : 24
Even numbers between 2 to 100 : 26
Even numbers between 2 to 100 : 28
Even numbers between 2 to 100 : 30
Even numbers between 2 to 100 : 32
Even numbers between 2 to 100 : 34
Even numbers between 2 to 100 : 36
Even numbers between 2 to 100 : 38
Even numbers between 2 to 100 : 40
Even numbers between 2 to 100 : 42
Even numbers between 2 to 100 : 44
Even numbers between 2 to 100 : 46
Even numbers between 2 to 100 : 48
Even numbers between 2 to 100 : 50
Even numbers between 2 to 100 : 52
Even numbers between 2 to 100 : 54
Even numbers between 2 to 100 : 56
Even numbers between 2 to 100 : 58
Even numbers between 2 to 100 : 60
Even numbers between 2 to 100 : 62
Even numbers between 2 to 100 : 64
Even numbers between 2 to 100 : 66
Even numbers between 2 to 100 : 68
Even numbers between 2 to 100 : 70
Even numbers between 2 to 100 : 72
Even numbers between 2 to 100 : 74
Even numbers between 2 to 100 : 76
Even numbers between 2 to 100 : 78
Even numbers between 2 to 100 : 80
Even numbers between 2 to 100 : 82
Even numbers between 2 to 100 : 84
Even numbers between 2 to 100 : 86
Even numbers between 2 to 100 : 88
Even numbers between 2 to 100 : 90
Even numbers between 2 to 100 : 92
Even numbers between 2 to 100 : 94
Even numbers between 2 to 100 : 96
Even numbers between 2 to 100 : 98
Even numbers between 2 to 100 : 100

In [21]:
for i in range(1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(10,0,-1) :
  print(i)

10
9
8
7
6
5
4
3
2
1

In [27]:
num = 2
print("Multiplication of 2 :\n")
for i in range(1,11) :
  print(i * num)

Multiplication of 2 :

2
4
6
8
10
12
14
16
18
20

1+2+3+4+5

In [ ]:
i = 1
while i <= 5 :
  print(i)