<a href="https://colab.research.google.com/github/rahulsait/ExcelR-codes/blob/main/Copy_of_HYPOTHESIS_TESTING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy import stats

In [ ]:
1 - stats.t.cdf(2.2, 79)

0.015364507770762481

In [ ]:
2*(1- stats.t.cdf(1.415, 49))

0.1633925092261692

## **One - Sample and One tail t - test :**

**Q ] An outbreak of Salmonella - related illness was attributed to ice - cream produced at a certain factory. Scientists measured the level of Salmonella in 9  randomly sampled batches of ice cream. The levels (in MPN/g) were :**
 0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418
 **Is there evidence that the mean level of Salmonella in the ice cream is greater than 0.3 MPN/g ?**

In [ ]:
 # Sample Size (n) = 9
 # Sample = 1
 # mu = 0.3
 # H0 <= 0.3 (If the level of Salmonella is less than 0.3 - no action is to be taken - illness is not attributed to the factory)
 # Ha > 0.3 (If the level of Salmonella is greater than 0.3 - action is to be taken - illness is attributed to the factory)
 # So it's a one-tail t test

In [ ]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [ ]:
# Creating an Array
Data = pd.Series([ 0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [ ]:
Data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [ ]:
scipy.stats.ttest_1samp(Data, 0.3) # by default is returns two tail P values

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [ ]:
p = scipy.stats.ttest_1samp(Data, 0.3)[1]

In [ ]:
p_value = p/2 # so we have to divide it by 2

In [ ]:
p_value

0.029265164842448826

In [ ]:
# since P < alpha (0.05) == Reject the Null Hypothesis (H0)

In [ ]:
# Since we accept Ha - the level of Salmonella is greater than 0.3 - the factory is indeed responsible for the illness.

# **Two Sample Two Tail test :**

**Q ] 6 subjects were given a drug (treatment group) and an additional 6 subjects a placebo (control group). Their reaction time to a stimulus was measured (in ms). We want to perform a two - sample t -test for comparing the means of the treatment and control groups.**

**Control : 91,87,99,77,88,91**
**Treat : 101,110,103,93,99,104**

In [ ]:
# Let mu1 be the mean of the population taking the drug
# Let mu2 be the mean of the population taking the dummy drug

# Ho - mu1 = mu2 (drug has no significance impact on the subjects)
# Ha - mu1 =! mu2 (drug has an impact on the subjects)

# Ho = mu1 - mu2 = 0
# Ha = mu1 - mu2 =! 0

import numpy as np
import pandas as pd
import scipy 
from scipy import stats

In [ ]:
Control = pd.Series([91,87,99,77,88,91])
Treat = pd.Series([101,110,103,93,99,104])

In [ ]:
stats.ttest_ind(Control, Treat) # we get two tail value by default

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809803)

In [ ]:
p_value = stats.ttest_ind(Control, Treat)[1]

In [ ]:
p_value # as it's a two tail test we need not divide the p value by 2

0.006272124350809803

In [ ]:
# since p_value (0.006) < alpha (0.05) -- we reject H0

In [ ]:
# conclusion = The drug has a significant impact on the population unlike the placebo.

In [ ]:
5 * 10

50

**Two tailed Z test :**

**A factory has a machine that dispenses 80 mL of fluid in a bottle. An employer believes the avg amount of fluid is not 80 mL. Using 40 samples, he measures the avg amount dispensed by the machine to be 78 mL with STD of 2.5.
At a 95% CI, is there enough evidence to claim that the machine is faulty.**

Since N > 30 : Z Test

Ho : mean = 80

Ha : mean not equal to 80

alpha = 0.05

Z : +- 1.96

In [ ]:
# calculating the Z stats : using formula
# Zc = [(78-80)/2.5] * sqrt(40)
# Zc = -5.056

**Since Zc(-5.056) < -1.96(Z) : REJECT NULL HYP "Ho"**

**A company manufactures car batteries with an avg life span of 2 or more years. An engineer believes this value to be less. Using 10 samples, he measures the avg life span to be 1.8 years with a STD of 0.15. At 99% CI is there enough evidence to reject the null hyp ?**

Since N < 30 : T Test

Ho : mean = 2

Ha : mean < 2

alpha = 0.01

Z : -2.821

In [ ]:
# calculating Zc :
# Zc = [(1.8 - 2)/0.15] * 3
# Zc = -4

**Since Zc < Z : REJECT NULL HYP**